<%= form_for(@whisky) do |f| %>
  <% if @whisky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whisky.errors.count, "error") %> prohibited this whisky from being saved:</h2>

      <ul>
      <% @whisky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Whiskey Data</legend>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :region %><br>
      <%= f.text_field :region %>
    </div>
    <div class="field">
      <%= f.label :color %><br>
      <%= f.text_field :color %>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </div>
    <div class="field">
      <%= f.label :nose %><br>
      <%= f.text_field :nose %>
    </div>
    <div class="field">
      <%= f.label :palatte %><br>
      <%= f.text_field :palatte %>
    </div>
    <div class="field">
      <%= f.label :finish %><br>
      <%= f.text_field :finish %>
    </div>
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_field :notes %>
    </div>
    <div class="field">
      <%= f.label :image_url %><br>
      <%= f.text_field :image_url %>
    </div>
    <div class="field">
      <%= f.label :point_of_sale %><br>
      <%= f.text_field :point_of_sale %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :size %><br>
      <%= f.number_field :size %>
    </div>
    <div class="field">
      <%= f.label :abv %><br>
      <%= f.text_field :abv %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>

<% end %>
