<% @whiskies.each do |whisky| %>
  <div class="col-xs-3 col-md-2">
    <%= link_to whisky_path(whisky), {class: "thumbnail"} do %>
      <%= image_tag(whisky.image_url) %>
      <%= whisky.score %>
    <%- end %>
    </a>
    <strong><%= whisky.name %></strong>
  </div>
<% end %>

<%= link_to '+', new_path, class: "btn-new" %>
